body {
    background-image: url("https://images.unsplash.com/photo-1444723121867-7a241cacace9?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #fafafa;
    margin: 0;
    padding: 0;
}
.nav_logo {
    font-weight: bolder;
    font-size: 24px;
    font-family: monospace;
}
.top_navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0a0a0a;
    padding: 1rem 2rem;
}
.nav_links {
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items: center;
}
.nav_link a {
    display: block;
    font-weight: 400;
    text-decoration: none;
    color: #fafafa;
}
.nav_link a:visited {
    color: #fafafa;
}
.nav_link a:hover {
    text-decoration: underline;
}
.index_main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 4rem;
    max-width: 1024px;
    margin: auto;
}
.huge_heading {
    font-size: calc(5rem + 1vw);
    font-weight: 900;
    text-transform: uppercase;
    max-width: 1024px;
}
.large_promo_text {
    max-width: 400px;
    font-size: 1rem;
    line-height: 2rem;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 2px;
}
.book_now_btn {
    display: block;
    padding: 1rem 2rem;
    font-size: 1.25rem;
    background-color: goldenrod;
    font-weight: bold;
    border-radius: 0.25rem;
    margin-top: 2rem;
    border: 1px solid transparent;
}
.search_container {
    background-color: #fafafa;
    border-radius: 16px;
    padding: 0.5rem 1rem;
    position: relative;
    width: 400px;
}
.search_input {
    border-radius: 8px;
    background-color: #fafafa;
    padding: 0.5rem 1rem;
    border: none;
    width: 225px;
}
.search_buttons {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding-right: 0.5rem;
}
.search_buttons button {
    background-color: goldenrod;
    font-size: 14px;
    font-weight: 400;
    border-radius: 12px;
    border: 2px solid transparent;
    padding: 0.5rem 1rem;
}
.search_buttons button:hover {
    border: 2px solid #0a0a0a;
    font-weight: bold;
    transition: .1s all linear;
}
.about_main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    max-width: 1024px;
    margin: auto;
}
.about_copy {
    line-height: 2rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 1rem;
    padding: 1rem 2rem;
    border-radius: 4px;
}
.less_huge_heading {
    font-size: calc(4rem + 1vw);
    font-weight: 900;
    text-transform: uppercase;
    max-width: 1024px;
}
.team {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: -1rem;
}
.team_member {
    height: 250px;
    width: 300px;
    padding: 1rem;
    font-size: 14px;
    background-color: rgba(200, 150, 50, 0.95);
    color: #0a0a0a;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 4px;
}
.team_member_name {
    font-size: 32px;
    font-weight: bold;
    color: #fafafa;
}
.team_member_bio {
    color: #fbfbfb;
    font-style: italic;
    margin-top: 1rem;
}
.team_member_role {
    padding: 1rem;
    color: #fafafa;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 32px;
    background-color: #0a0a0a;
    text-align: center;
}
.contact_main {
    padding: 2rem;
    max-width: 1024px;
    margin: auto;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}
.contact_form {
    padding: 1rem;
    background-color: #0a0a0a95;
    max-width: 768px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 4px;
}
.contact_input_wrapper {
    margin-top: 1rem;
}
.contact_input {
    font-size: 18px;
    border-radius: 16px;
    max-width: 200px;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
}
.contact_input_label {
    font-weight: bold;
    text-transform: uppercase;
}
.contact_message_textarea {
    height: 300px;
    width: 100%;
    max-width: 600px;
}
.contact_form_submit_btn {
    font-size: 24px;
    padding: 1rem 2rem;
    border-radius: 8px;
    border: 2px solid transparent;
    color: #0a0a0a;
    background-color: goldenrod;
    text-transform: uppercase;
    font-weight: bold;
}
.contact_form_submit_btn:hover {
    border: 2px solid #0a0a0a;
}
.search_results {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: auto;
    max-width: 1024px;
    width: 100%;
    padding: 1rem;
}
.search_result {
    padding: 1rem;
    background-color: #0a0a0a95;
    border-radius: 4px;
    width: 100%;
    height: 200px;
}
.search_result_name {
    font-size: 18px;
    font-weight: bold;
}
.search_result_img {
    display: block;
    height: 100px;
    width: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 1rem;
}
.search_result_description {
    font-size: 14px;
    color: #fafafa90;
    margin-top: 1rem;
    max-width: 400px;
}